* {
    /* border: 1px dotted blue; */
    box-sizing: border-box;
    margin: 0; padding: 0;
}

body {
    height: 100vh;
    /* background-image: url('https://source.unsplash.com/1600x900/daily?mountain'); unsplash API */
    background-image: url('background/sky.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "@microsoft YaHei Ui Light";
    
}
.card {
    width: 700px;
    height: 600px;
    padding: 20px 40px;
    border-radius: 5px;
    background: #24202575;
    background-image: linear-gradient(to bottom, #373b443b, #4286f43b );
    /* box-shadow: 0 0 20px 2px #faf4ed79; */
    font-size: 40px;
    color: white;
    text-align: center;
    backdrop-filter: blur(8px);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;

}

.search {
    /* width: 70%; */
    display: flex;

    /* align-items: center; */
}
input[type=text] {
    border: none;
    outline: none;
    border-radius: 10px 0 0 10px;
    width: 50%;
    height: 40px;
    padding: 8px;
    color: white;
    font-size: 24px;
    background: #373b443b;

}
input[type=text]:hover {
    background: #4286f43b;
}

.search button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 0 10px 10px 0;
    outline: none;
    color: white;
    font-size: 24px;
    background: #373b443b;
}
.search button:hover {
    background: #4286f43b;
}
.city {
    text-align: left;
}



.weather {
    font-size: 100px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* .weather i {
    font-size: 100px;
} */

.temp {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 50px;
} 
.temp-max {
    font-size: 20px;
}


.week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;

    font-size: 20px;
}

.info {
    text-align: left;
    font-size: 24px;
}


.description {
    text-transform: capitalize;
}

